body {
    background-color: rgb(255, 255, 255);
    ;
}

.container-cabecalho {
    background-color: rgb(199, 199, 199);
    border-radius: 0.5em;
    height: 6em;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 3em;
    height: 3em;
}

.container-img {
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4em;
}

img:hover {
    opacity: 0.8;
    width: 3.1em;
    height: 3.1em;
}

hr {
    opacity: 0.2;
    width: 75%;
}

.resume {
    background-color: rgb(199, 199, 199);
    height: 5em;
    border-radius: 0.5em;
    display: flex;
    align-items: center;
}

.resume p {
    margin-left: 5em;
    margin-right: 5em;
    display: flex;
    align-items: center;
    font-size: 1.2em;
    font-style: italic;
}

.container-content {
    display: flex;
    justify-content: space-around;
    margin-top: 3em;
    height: 30em;
}

.formations {
    background-color: rgb(199, 199, 199);
    border-radius: 0.5em;
    width: 30em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.experiences {
    background-color: rgb(199, 199, 199);
    border-radius: 0.5em;
    width: 30em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills {
    background-color: rgb(199, 199, 199);
    border-radius: 0.5em;
    width: 30em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont {
    width: 50%;
}

footer {
    margin-top: 3em;
    border-radius: 0.5em;
    height: 5em;
    background-color: rgb(199, 199, 199);
    display: flex;
    justify-content: center;
    align-items: center;
}