body {
    background-color: rgb(45, 45, 45);
}

.header {
    background-color: rgb(31, 31, 31);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7em;
}

.header p {
    color: aliceblue;
    font-size: 3em;
}

.post {
    background-color: rgb(31, 31, 31);
    border-radius: 3px;
    color: rgb(212, 212, 212);
    height: 100px;
}

.post p,
.post h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}